// Colors
$brand-primary: black;
$grey: #dddddd;
$light-grey: #d3d1d1;
$ultra-light-grey: #f6f6f6;
$dark-grey: #52525B;

// Spacing
$space: 1.4rem;
$medium-space: 2rem;
$large-space: 2.8rem;
$site-max-width: 100rem;

// Font sizes
$base-font-size: 1.4rem;
$small-font-size: 1rem;
$medium-font-size: 1.2rem;
$large-font-size: 2rem;
$x-large-font-size: 4rem;

// Form inputs
$input-border: $grey;
$input-spacing: 1rem;

// Boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;

// Button
$button-bg: $brand-primary;
$button-color: white;
$button-pill-color: $brand-primary;
$button-secondary-bg: $light-grey;
$button-secondary-color: $dark-grey;
$button-secondary-border-color: $grey;

// Header
$header-bg: white;
$header-color: black;
$header-height: 6rem;

// Footer
$footer-height: 4rem;

// item
$item-bg: $light-grey;
$item-border: darken($item-bg, 8%);
$item-text-color-title: white;
$item-text-color-subtitle: $dark-grey;

// Page Content
$page-content-sidebar-width: 30rem;
$page-content-main-width: calc(#{$site-max-width} - #{$page-content-sidebar-width}) ;
$page-content-height: calc(100vh  - #{$header-height} - #{$footer-height} - #{$space}/4);

// Post content
$post-header-width: 10rem;
$post-body-width: 90%;


// Reply
$reply-ipt-height: 10rem;
$reply-btn-height: 6rem;
$reply-btn-width: 8rem;
