blockquote {
  background: rgba(150, 150, 150, .2);
  border-left: 5px solid grey;
  font-size: $medium-font-size;
  font-style: italic;
  text-align: left;
  // padding: 1rem 0;
  margin: 1rem;
  padding: .5rem;
}
