.boxed-view {
  align-items: center;
  background: $boxed-view-overlay-bg;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.boxed-view--modal {
  background: fade-out($boxed-view-overlay-bg, .3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 10;
}

.boxed-view__box {
  background-color: $boxed-view-bg;
  outline: none;
  padding: 2.4rem;
  text-align: center;
  width: 24rem;
}

.boxed-view__form {
  display: flex;
  flex-direction: column;
}

.boxed-view__add-topic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  height: 70vh;
  width: 70vw;
}

.boxed-view__signature, .boxed-view__avatar {
  background-color: $boxed-view-bg;
  outline: none;
  padding: 2.4rem;
  text-align: center;
  width: 40rem;
}
.boxed-view__avatar > input {
  width: 36rem;
}
.boxed-view__signature > textarea {
  height: 6rem;
  resize: none;
  width: 36rem;
}

.boxed-view__profile {
  background: linear-gradient(to bottom, #1e130c, #9a8478);
  outline: none;
  padding: 1rem;
  height: 80vh;
  width: 80vw;
}

.boxed-view__following {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $boxed-view-bg;
  outline: none;
  padding: 1rem;
  text-align: center;
  height: 80vh;
  width: 80vw;
}

.boxed-view__private-message{
  background-color: $boxed-view-bg;
  outline: none;
  padding: 1rem;
  height: 50vh;
  width: 50vw;
}
