.item-container {

}
.item {
  color: $item-text-color-subtitle;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 0.2rem 1rem;
  &:hover{
    background-color: $dark-grey;
    color: black;
  }
}

.item__subtitle--username {
font-size: $small-font-size;
}

.item__title {

  color: $item-text-color-title;

  font-size: $medium-font-size;
  margin: 0;
}

.item__subtitle {

  display: flex;

  justify-content: space-between;

}

.item__subtitle--lastup {
font-size: $small-font-size;
}
