.item-container {

}
.item {
  border-left: 3px solid transparent;
  color: $item-text-color-subtitle;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 0.2rem 1rem;
  transition: all .7s ease;
  &:hover{
    background-color: rgba(0, 57, 115, .3);
    color: black;
    transition: background-color 500ms linear;
  }
}
.item--selected {
  // background-color: rgba(255, 255, 255, .4);
  border-left: 3px solid rgba(255, 255, 255, .5);

  transition: all .7s ease;
}

.item__subtitle--username {
font-size: $small-font-size;
}

.item__title {

  color: $item-text-color-title;

  font-size: $medium-font-size;
  margin: 0;
}

.item__subtitle {
  color: rgba(255,255, 255, 0.3);
  display: flex;

  justify-content: space-between;

}

.item__subtitle--lastup {
font-size: $small-font-size;
}
