
.page-content {
  display: flex;
  height: $page-content-height;
  max-width: $site-max-width;
  margin: 0 auto;
  margin-top: -$paginationBar-height;
  @include desktop {
    padding: 0 ;
  }
}

.page-content__sidebar{
  background-color: rgba(0, 0, 0, .7);
  color: white;
  display: flex;
  overflow: hidden;
  transition: left .3s ease;
  width: 100vw ;
  min-width: 100vw;

  position: fixed;
  top: 0;
  left: -110vw;
  right: 0;
  bottom: 0;
  z-index: 6;

  &::-webkit-scrollbar-track
  {
  	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  	background-color: #F5F5F5;
  	border-radius: 2px;
  }

  &::-webkit-scrollbar
  {
  	width: 5px;
  	background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb
  {
  	background-color: black;
  	border-radius: 10px;
  	background-image: -webkit-linear-gradient(0deg,
  	                                          rgba(255, 255, 255, 0.5) 25%,
  											  transparent 25%,
  											  transparent 50%,
  											  rgba(255, 255, 255, 0.5) 50%,
  											  rgba(255, 255, 255, 0.5) 75%,
  											  transparent 75%,
  											  transparent)
  }

  @include desktop {

    position: static;

    width: 0;
    min-width: 0;
    transition: width .3s ease;
    margin: 0;

  }
}
.page-content__sidebar__content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  // overflow: auto;
  // -webkit-justify-content: space-between;
  // margin: $space auto auto auto ;

  opacity: 0;
  margin-top: $header-height;
  padding: 0 $space 0 $space;

  @include desktop {
    margin-top: 0;
  }
}

.page-content__sidebar__content--close {
  cursor: pointer;
  display: block;
  position: relative;

  left: 26rem;
  top: -5rem;

  z-index: 10 !important;
  @include desktop{
    display: none;
  }
}

.page-content__sidebar__sidebar-nav > div{
  display: flex;
  justify-content: center;

  width: 100%;
}
.page-content__sidebar__list {
  margin-bottom: $space;
}
.page-content__sidebar__content__mainList--title{
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  margin-bottom: $space;
}


.is-nav-open .page-content__sidebar,  .is-nav-open .paginationBar__left--container{
  display: block;
  left: 0;
  min-width: $page-content-sidebar-width;
  width: $page-content-sidebar-width;
  transition: all .3s ease-in-out;
}
.is-nav-open .page-content__sidebar__content, .is-nav-open .header__container__left > * {
  opacity: 1;
  transition: width .3s ease-in-out;
}



.page-content__main {

background: rgba(255, 255, 255, .3);
  overflow-x: hidden;
  // overflow-x: hidden;
  width: 100%;


  &::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 2px;
  }

  &::-webkit-scrollbar
  {
    width: 5px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb
  {
    background-color: black;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(0deg,
                                              rgba(255, 255, 255, 0.5) 25%,
                          transparent 25%,
                          transparent 50%,
                          rgba(255, 255, 255, 0.5) 50%,
                          rgba(255, 255, 255, 0.5) 75%,
                          transparent 75%,
                          transparent)
  }


  @include desktop {
    width: 100%;

  }
}

.page-content__main__panel {
  // background: rgba(255, 255, 255, .5);
  width: 100%;
  height: $page-content-height;
}



.topic-panel-container {
  display: flex;
  flex-direction: column;
}
