
.is-not-on-search {
  display: none !important;
  padding: 0;
}
.search__container {
  height: auto;
  padding: $large-space 0 3rem 0;

  transition: all .3s ease-in;
}

.search__container--unactive {
  height: 0;
  padding: 0;

  transition: all .3s ease-in;
}
.search__result--empty {
  color: rgba(255, 255, 255, .5);
  font-style: italic;
  text-align: center;
  margin: $large-space;
}

.search {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 0;
	max-width: 350px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.search__field {
	position: relative;
  left: 2rem;
	display: block;
	float: right;
  margin: 0 !important;
	padding: 2em;
	width: 60%;
	border: none !important;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.search__field:focus {
	outline: none;
}

.search__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.search__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

/* Jiro */
.search--jiro {
	margin-top: 2em;
}

.search__field--jiro {
	padding: 0.85em 0.5em;
	width: 100%;
	background: transparent;
	color: #DDE2E2;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.search__label--jiro {
	position: absolute;
	left: 0;
	padding: 0 0.85em;
	width: 100%;
	height: 100%;
	text-align: left;
	pointer-events: none;
}

.search__label-content--jiro {
	-webkit-transition: -webkit-transform 0.3s 0.3s;
	transition: transform 0.3s 0.3s;
}

.search__label--jiro::before,
.search__label--jiro::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.search__label--jiro::before {
	border-top: 2px solid rgba(150, 150, 150, .1);
	-webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
	transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.search__label--jiro::after {
	z-index: -1;
	background: rgba(150, 150, 150, .2);
	-webkit-transform: scale3d(1, 0, 1);
	transform: scale3d(1, 0, 1);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.search__field--jiro:focus,
.search--filled .search__field--jiro {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.search__field--jiro:focus + .search__label--jiro .search__label-content--jiro,
.search--filled .search__label-content--jiro {
	-webkit-transform: translate3d(0, -80%, 0);
	transform: translate3d(0, -80%, 0);
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.search__field--jiro:focus + .search__label--jiro::before,
.search--filled .search__label--jiro::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.search__field--jiro:focus + .search__label--jiro::before,
.search--filled .search__label--jiro::before {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.search__field--jiro:focus + .search__label--jiro::after,
.search--filled .search__label--jiro::after {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

/* Minoru */
.search__field--minoru {
	width: 100%;
	background: #fff;
	box-shadow: 0px 0px 0px 2px transparent;
	color: #eca29b;
	-webkit-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;
}

.search__label--minoru {
	padding: 0;
	width: 100%;
	text-align: left;
}

.search__label--minoru::after {
	content: '';
  	position: absolute;
  	top: 0;
  	z-index: -1;
  	width: 100%;
  	height: 4em;
	box-shadow: 0px 0px 0px 0px;
	color: rgba(199,152,157, 0.6);
}

.search__field--minoru:focus {
	box-shadow: 0px 0px 0px 2px #eca29b;
}

.search__field--minoru:focus + .search__label--minoru {
	pointer-events: none;
}

.search__field--minoru:focus + .search__label--minoru::after {
	-webkit-animation: anim-shadow 0.3s forwards;
	animation: anim-shadow 0.3s forwards;
}

@-webkit-keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 100px 50px;
    	opacity: 0;
	}
}

@keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 100px 50px;
    	opacity: 0;
	}
}

.search__label-content--minoru {
	padding: 0.75em 0.15em;
}
